@page
@model Web0524.Pages.PlaceEditModel
@{
}
@if (TempData.ContainsKey("edit_error"))
{
    <script>
        setTimeout(function () {
            alert('該店鋪名稱已存在');
        @(TempData.Remove("edit_error"));
        }, 100);
    </script>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/Share.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .form-group label {
            color: var(--color3_2);
        }

        .infotext {
            font-size: 14px;
            color: var(--color3_2);
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#PlaceEditform").submit(function (event) {
                event.preventDefault(); // Prevent the default form submission

                // Construct an array of selected product IDs
                var selectedIds = $("input[name='SelectedProductIds']:checked")
                    .map(function () {
                        return this.value;
                    })
                    .get();

                // Create a hidden input field to hold the array of selected IDs
                $('<input>').attr({
                    type: 'hidden',
                    name: 'SelectedProductIds',
                    value: JSON.stringify(selectedIds)
                }).appendTo('#PlaceEditform');

                // Submit the form
                $("#PlaceEditform")[0].submit();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            var placePidString = "@Model.Place.Placepid"; // 這裡是後端的 Placepid 變數
            var placePidArray = placePidString.split(','); // 將字串分割成 ID 陣列

            placePidArray.forEach(function (pid) {
                var checkbox = document.getElementById(pid);
                if (checkbox) {
                    checkbox.checked = true; // 對應的核取框標記為核取
                }
            });
        });
    </script>



    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex flex-column justify-content-center">
                    <div>
                        <h3>店鋪地圖嵌入步驟</h3>
                    </div>
                </div>
                <div class="modal-body">
                    <p>注意：此功能僅有電腦版可以使用</p>
                    <ol>
                        <li><a href="https://www.google.com.tw/maps" target="_blank">開啟 Google 地圖。</a></li>
                        <li>搜尋您的店舖或地址</li>
                        <li>按一下 [分享]。</li>
                        <li>按一下 [嵌入地圖]。</li>
                        <li>按一下 [複製HTML]。</li>
                        <li>返回設定頁面貼上[嵌入地圖網址]輸入框。</li>
                    </ol>
                </div>

                <div class="modal-footer">
                    <a id="btnDone"  class="btn btn-secondary">關閉</a>
                </div>
            </div>
        </div>
    </div>
</head>
<body>
    <div class="container page-basetop">
        <header>
            <div class="animation-div">
                <h2 class="header_text heading break-all slideInRight">
                    店鋪資料更新
                </h2>
            </div>

        </header>
        <form method="post" id="PlaceEditform" enctype="multipart/form-data">
            <div class="form-group" style="display: none;">
                <label>店鋪編號</label>
                <input asp-for="Place.Placeid" class="form-control" type="number" />
                <span asp-valPidation-for="Place.Placeid" class="text-danger"></span>
            </div>

            <div class="form-group alert alert-light alert-form-div" role="alert">
                <table style="width:100%;">
                    <tr>
                        <th>
                            <label>店鋪名稱</label>
                        </th>
                        <td>
                            <p class="infotext">展示於主頁面中的店舖名稱，顧客將依據此名稱辨別不同的店鋪。</p>
                            <input asp-for="Place.Placetitle" class="form-control" title="店鋪名稱字數需介於2到15之間" maxlength="15" minlength="2" required />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label>預約狀態</label>
                        </th>
                        <td>
                            <p class="infotext">開啟時:顧客能夠在此店鋪有提供的服務預約時選擇此店鋪，關閉時:顧客將無法選擇此店鋪</p>
                            <div class="custom-control custom-switch">
                                <input class="custom-control-input" type="checkbox" id="switchPlaceSw" @(Model.Place.PlaceSw == 1 ? "checked" : "") />
                                <label class="custom-control-label" for="switchPlaceSw"></label>
                            </div>
                            <input asp-for="Place.PlaceSw" type="hidden" />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label>地址</label>
                        </th>
                        <td>
                            <p class="infotext">展示於主頁面中的店舖地址，顧客預約後會將此地址發送給顧客。</p>
                            <input asp-for="Place.Placeaddress" class="form-control" title="店鋪地址字數需介於2到100之間" maxlength="100" minlength="2" required />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label>
                                排序字元
                                <span class="text-dark" data-bs-toggle="popover" data-bs-content="自訂排序字元例如:A01、A02、B01...，店鋪排序順序會根據A-Z 0-9的順位排序。">
                                    <i class="far fa-question-circle"></i>
                                </span>
                            </label>
                        </th>
                        <td>
                            <input asp-for="Place.Placeorder" class="form-control" title="排序字元需介於2到5之間" maxlength="5" minlength="2" />
                        </td>
                    </tr>
                </table>
            </div>

            <div class="form-group alert alert-light alert-form-div" role="alert">
                <table style="width:100%;">
                    <tr>
                        <th>
                            <label>嵌入地圖網址 <a id="btnBind" class="text-dark"><i class="far fa-question-circle"></i>說明</a></label>
                        </th>
                        <td>
                            <p class="infotext">展示於主頁面中的店舖地圖。</p>
                            <input id="addressInput" asp-for="Place.Placemapurl" class="form-control" />
                            <div class="form-group" id="mapContainer">
                                @if (Model.Place.Placemapurl != null && Model.Place.Placemapurl != "")
                                {
                                    @Html.Raw(Model.Place.Placemapurl)
                                }
                            </div>
                            <script>
                                // 在页面加载完成后执行
                                $(document).ready(function () {
                                    // 获取输入框元素
                                    var addressInput = $("#addressInput");

                                    // 监听输入框的失去焦点事件
                                    addressInput.on("blur", function () {
                                        // 获取输入框的值
                                        var mapHtml = addressInput.val();

                                        // 检查输入框是否有值
                                        if (mapHtml.trim() !== "") {
                                            // 插入 iframe HTML 到 "mapContainer"
                                            $("#mapContainer").html(mapHtml);
                                        } else {
                                            // 如果输入框没有值，清空 "mapContainer"
                                            $("#mapContainer").empty();
                                        }
                                    });
                                });
                            </script>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="form-group alert alert-light alert-form-div" role="alert">
                <table style="width:100%;">
                    <tr>
                        <th>
                            <label>服務項目</label>
                        </th>
                        <td>
                            <p class="infotext">設置後顧客能夠在該服務項目預約表中選擇此店鋪。</p>
                            <div class="checkbox-list">
                                @foreach (var product in Model.Products)
                                {
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="SelectedProductIds" value="@product.Pid" id="@product.Pid">
                                        @product.Name
                                    </div>
                                }
                            </div>
                        </td>
                    </tr>
                </table>
                <br>
                <br>
                <div style="text-align:end;"><button type="submit" class="btn btn-dark">更新店鋪</button></div>
            </div>
        </form>

        <script>
            document.getElementById("switchPlaceSw").addEventListener("change", function () {
                var checkbox = this;
                var hiddenInput = document.querySelector("input[name='Place.PlaceSw']");
                hiddenInput.value = checkbox.checked ? "1" : "0";
            });
        </script>
        <script>
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl)
            })
        </script>



        <!-- Include jQuery library -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- Include ClipboardJS library (for copying text to clipboard) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>

        <!-- Your inline JavaScript code -->
        <script>
            // Function to show the modal
            function showModal() {
                $('#contactModal').modal('show');
            }

            // Function to close the modal
            function closeModal() {
                $('#contactModal').modal('hide');
            }

            // When the "立即綁定" button is clicked, show the modal
            document.getElementById("btnBind").addEventListener("click", function () {
                showModal();
            });
            // 當按鈕完成被點擊時
            document.getElementById("btnDone").addEventListener("click", function () {
                closeModal();
            });

        </script>
    </div>

</body>
</html>




