@page
@model Web0524.Pages.ProductListModel
@using Web0524.Models
@{
    var myService = (IMyService)ViewContext.HttpContext.RequestServices.GetService(typeof(IMyService));
    var myData = myService.GetBaseData();
}
@{
    // 省略其他 Razor Page 內容...
    @if (TempData.ContainsKey("success"))
    {
        <script>
            alert('預約成功，您可透過[我的預約清單]查看您的預約');
            // 顯示警告後清除TempData
            setTimeout(function () {
            @(TempData.Remove("success"));
            }, 100);
        </script>
    }
    @if (TempData.ContainsKey("OrdersetError_user"))
    {
        <script>
            alert('錯誤!無法取得預約人資訊。');
            // 顯示警告後清除TempData
            setTimeout(function () {
            @(TempData.Remove("OrdersetError_user"));
            }, 100);
        </script>
    }
    @if (TempData.ContainsKey("OrdersetError_minute"))
    {
        <script>
            alert('重複預約。');
            // 顯示警告後清除TempData
            setTimeout(function () {
            @(TempData.Remove("OrdersetError_minute"));
            }, 100);
        </script>
    }
    @if (TempData.ContainsKey("OrdersetError_maxorder"))
    {
        <script>
            alert('已超過預約上限，請稍後再試。');
            // 顯示警告後清除TempData
            setTimeout(function () {
            @(TempData.Remove("OrdersetError_maxorder"));
            }, 100);
        </script>
    }
    @if (TempData.ContainsKey("OrdersetError"))
    {
        <script>
            alert('資料有誤，無法完成預約。');
            // 顯示警告後清除TempData
            setTimeout(function () {
            @(TempData.Remove("OrdersetError"));
            }, 100);
        </script>
    }
    @if (TempData.ContainsKey("DateError"))
    {
        <script>
            alert('日期有誤，無法完成預約。');
                    // 顯示警告後清除TempData
        setTimeout(function() {
            @(TempData.Remove("DateError"));
        }, 100);
        </script>
    }
    @if (TempData.ContainsKey("TimeError"))
    {
        <script>
            alert('時間有誤，無法完成預約。');
            // 顯示警告後清除TempData
            setTimeout(function () {
            @(TempData.Remove("TimeError"));
            }, 100);
        </script>
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/Share.css">
    <link rel="stylesheet" href="~/css/wickedcss.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .product-div {
            width: 100%;
            height: 400px;
            max-width: 100%; /* 限制最大宽度 */
            border-radius: 20px;
            box-shadow: 10px 10px 15px #ebd5bf, -10px -10px 15px #fff9e1;
        }

        .product-img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* 保持比例，显示完整图片 */
            border-radius: 20px;
            box-shadow: 10px 10px 15px #ebd5bf, -10px -10px 15px #fff9e1;
        }

        .product-title {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .product-text {
            font-size: 16px;
            margin-bottom: 5px;
        }

        .money {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            color: #007bff; /* 适当的颜色 */
        }

        .order-button {
            position: absolute;
            top: 320px;
            right: 30px;
            font-size: 18px;
            padding: 20px 30px; /* 调整内边距 */
            border-radius: 30px;
        }

        /* 初始状态，没有动画 */
        .animate-on-scroll {
            opacity: 0;
            transform: translateY(20px);
            transition: opacity 0.5s ease, transform 0.5s ease;
        }

            /* 进入视窗时的动画状态 */
            .animate-on-scroll.show {
                opacity: 1;
                transform: translateY(0);
            }
    </style>
    <style>
        /* 新增樣式 */
        .hot-label {
            position: absolute;
            top: 40px;
            left: 25px;
            background-color: red;
            color: white;
            padding: 5px;
            border-radius: 5px;
        }
        /* 新上市標籤樣式 */
        .new-label {
            position: absolute;
            top: 40px;
            left: 25px;
            background-color: #00cc66;
            color: white;
            padding: 4px 8px;
            border-radius: 4px;
        }
        /* 打折標籤樣式 */
        .discount-label {
            position: absolute;
            top: 40px;
            left: 25px;
            background-color: #ffcc00;
            color: black;
            padding: 4px 8px;
            border-radius: 4px;
        }
    </style>


    <script>
        function thousands(value) {
            if (value) {
                value += "";
                var arr = value.split(".");
                var re = /(\d{1,3})(?=(\d{3})+$)/g;

                return arr[0].replace(re, "$1,") + (arr.length == 2 ? "." + arr[1] : "");
            } else {
                return '';
            }
        }
    </script>

    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex flex-column justify-content-center">
                    <div>
                        <h3>請跟著我做!</h3>
                    </div>
                </div>
                <div class="modal-body">
                    <span>
                        <h4>步驟1.</h4>
                        <h5>點擊→<a href="@myData.LineBotURL" target="_blank"><b><i class="fab fa-line" style="color: #0ed600;font-size:xx-large"></i>@myData.Name</b></a> 設為好友</h5>
                    </span>
                    <br>
                    <span>
                        <h4>步驟2.</h4>
                        <a id="copyButton" data-clipboard-target="#textToCopy" class="underline-blue" s>
                            @{
                                // 宣告一個字串
                                string message = "我要綁定" + ViewData["Uid"];
                            }
                            <h5>點我複製:<span id="textToCopy">@message</span></h5>
                        </a>
                    </span>
                    <br>
                    <span>
                        <h4>步驟3.</h4>
                        <h5>回到<a href="@myData.LineBotURL" target="_blank"><b><i class="fab fa-line" style="color: #0ed600;font-size:xx-large"></i>@myData.Name</b></a> 官方帳號 送出複製的綁定訊息</h5>
                    </span>
                    <br>
                    <h4>收到[綁定完成]訊息即完成綁定!</h4>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" onclick="closeModal()">完成</a>
                </div>
            </div>
        </div>
    </div>
</head>
<body>
    <script>
        var showsw = @((TempData.ContainsKey("fristlogin_success")) ? "true" : "false");

        document.addEventListener("DOMContentLoaded", function () {
            if (showsw === true) {
                showModal();
            }
            setTimeout(function () {
        @(TempData.Remove("fristlogin_success"));
            }, 100);
        });
    </script>




    <div class="container page-basetop">
        <header>
            <div class="animation-div">
                <h2 class="header_text heading break-all slideInRight">
                    美麗的一天從這裡開始
                </h2>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">

                @foreach (var item2 in Model.Pgroups)
                {
                    <li class="nav-item" role="presentation" > 
                        <input id="keywordInput" class="nav-link" style="margin-right: 10px;display:none;" type="text" value=@item2.Pgid.ToString()>
                        <button data-bs-toggle="tab" data-bs-target="#profile-tab-pane" role="tab" aria-controls="profile-tab-pane" aria-selected="false" id="searchButton" class="nav-link fx-tobig" style="margin-right: 10px;color: var(--color3);" onclick="searchCards('@item2.Pgid.ToString()');selectPgid('@item2.Pgid')">@item2.Pgname</button>
                    </li>
                }
            </ul>

        </header>

        <div class="row animate__animated animate__fadeInUp">

            @foreach (var item in Model.Products)
            {

                <div class="col-md-4 product-item fx-tobig" data-search="@item.Pgid" style="padding-top:30px;">
                <div class="mb-3 product-list " data-cardname="@item.Pgid">
                        @{
                            string imageData = item.Photo != null ? Convert.ToBase64String(item.Photo) : null;
                        }
                        <div class="product-div">
                            @if (string.IsNullOrEmpty(imageData))
                            {
                                <img src="dist/img/product.jpg" class="product-img" alt="圖片">
                            }
                            else
                            {
                                <img src="data:image/jpeg;base64,@imageData" class="product-img" alt="圖片">
                            }
                            @if (item.OrderSw == 0)
                            {
                                <a class="btn btn-secondary order-button">
                                    哎呀!慢了一步,預約已額滿
                                </a>
                            }
                            else
                            {
                                if(Model.Userme != null)
                                {
                                    <a class="btn btn-warning order-button animate-on-scroll floater" asp-page="OrdersetAdd" asp-route-id="@item.Pid">
                                        立即預約
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-warning order-button animate-on-scroll floater" asp-page="OrderForm">
                                        立即預約
                                    </a>
                                }

                            }
                            <!-- 新增 HOT 標籤的判斷 -->
                            @if (item.Event == 1)
                            {
                                <div class="hot-label barrelRoll">
                                    <i class="fab fa-hotjar"></i>
                                    Hot熱門
                                </div>
                            }
                            else if (item.Event == 2)
                            {
                                <div class="new-label barrelRoll">
                                    <i class="fas fa-flag"></i>
                                    New新上市
                                </div>
                            }
                            else if (item.Event == 3)
                            {
                                <div class="discount-label barrelRoll">
                                    <i class="fas fa-tags"></i>
                                    優惠中
                                </div>
                            }
                        </div>
                        <div style="margin-top:20px">
                            <h3 class="product-title" style="color: var(--color3);">@item.Name</h3>
@*                            <p class="product-text money">
                                <i class="fas fa-dollar-sign"></i>&nbsp;&nbsp;
                                <span id="formattedPrice_@item.Pid"></span> <!-- 使用 <span> 元素来显示价格 -->
                                &nbsp;&nbsp;/&nbsp;&nbsp;@item.Unit
                            </p>*@
                            <p class="card-text" style="color: var(--color3_2);">@item.Content</p>
                            @*<p class="card-text" style="color: var(--color3_2);"><i class="fas fa-star"></i>&nbsp;&nbsp;@item.Content</p>*@
                        </div>
                        <script>
                            var originalPrice = @item.Price; // 将 Razor 变量传递给 JavaScript 变量
                            var formattedPrice = thousands(originalPrice);
                            var formattedPriceElement = document.getElementById("formattedPrice_@item.Pid"); // 使用唯一的 ID
                            formattedPriceElement.textContent = formattedPrice;
                        </script>
                        <div class="search-content" style="display:none;">
                            <span>@item.Pgid</span>
                        </div>
                    </div>
                </div>
                
            }
        </div>
    </div>

</body>
</html>

<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include ClipboardJS library (for copying text to clipboard) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>

<!-- Your inline JavaScript code -->
<script>
    function showModal() {
        $('#contactModal').modal('show');
    }

    function closeModal() {
        $('#contactModal').modal('hide');
    }
    document.getElementById("btnBind").addEventListener("click", function () {
        showModal();
    });
    document.getElementById("btnDone").addEventListener("click", function () {
        closeModal();
    });

</script>



<script>
    function searchCards(pgid) {
        var keyword = pgid;
        var cardItems = document.querySelectorAll(".product-item");

        for (var i = 0; i < cardItems.length; i++) {
            var cardName = cardItems[i].getAttribute("data-search");
            var cardSearchContent = cardItems[i].querySelector(".search-content").innerText.toLowerCase();
            if (cardName.includes(keyword) || cardSearchContent.includes(keyword)) {
                cardItems[i].style.display = "";
            } else {
                cardItems[i].style.display = "none";
            }
        }
    }
</script>

<script>
    // 获取所有需要添加动画的元素
    const animatedElements = document.querySelectorAll('.animate-on-scroll');

    // 创建一个 Intersection Observer 实例
    const observer = new IntersectionObserver((entries, observer) => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                entry.target.classList.add('show'); // 添加动画类
                observer.unobserve(entry.target); // 停止观察已经进入视窗的元素
            }
        });
    });

    // 遍历元素并开始观察
    animatedElements.forEach(element => {
        observer.observe(element);
    });
</script>


