@page
@model ProductList_mModel
@{
}
@if (TempData.ContainsKey("edit_success"))
{
    <script>
        setTimeout(function () {
            alert('產品更新完成。');
        @(TempData.Remove("edit_success"));
        }, 100);
    </script>
}
@if (TempData.ContainsKey("del_success"))
{
    <script>
        setTimeout(function () {
            alert('產品已刪除。');
        @(TempData.Remove("del_success"));
        }, 100);
    </script>
}
@if (TempData.ContainsKey("add_success"))
{
    <script>
        setTimeout(function () {
            alert('產品已新增。');
        @(TempData.Remove("add_success"));
        }, 100);
    </script>
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/Share.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function promptPassword() {
            var password = prompt("請輸入您的密碼：");
            if (password === "@Model.User_me.Password" && "@Model.User_me.Password" !== null) {
                // 密碼正確，執行後續處理
                return true;
            } else {
                // 密碼錯誤，提示錯誤訊息或執行其他操作
                alert("密碼錯誤，請重新輸入。");
                return false;
            }
        }
    </script>
    <script>
        function searchCards2() {
            var keyword = document.getElementById("keywordInput").value.toLowerCase();
            var cardItems = document.querySelectorAll(".card-item");

            for (var i = 0; i < cardItems.length; i++) {
                var cardName = cardItems[i].getAttribute("data-search");
                var cardSearchContent = cardItems[i].querySelector(".search-content").innerText.toLowerCase();
                if (cardName.includes(keyword) || cardSearchContent.includes(keyword)) {
                    cardItems[i].style.display = "";
                } else {
                    cardItems[i].style.display = "none";
                }
            }
        }
    </script>
    <script>
        function thousands(value) {
            if (value) {
                value += "";
                var arr = value.split(".");
                var re = /(\d{1,3})(?=(\d{3})+$)/g;

                return arr[0].replace(re, "$1,") + (arr.length == 2 ? "." + arr[1] : "");
            } else {
                return '';
            }
        }
    </script>
    <style>
        /* 熱門標籤樣式 */
        .hot-label {
            background-color: red;
            color: white;
            padding: 4px 8px;
            font-size: 14px;
            font-weight: bold;
            border-radius: 4px;
        }

        /* 新上市標籤樣式 */
        .new-label {
            background-color: #00cc66;
            color: white;
            padding: 4px 8px;
            font-size: 14px;
            font-weight: bold;
            border-radius: 4px;
        }

        /* 特價標籤樣式 */
        .sale-label {
            background-color: orange;
            color: white;
            padding: 4px 8px;
            font-size: 14px;
            font-weight: bold;
            border-radius: 4px;
        }

        /* 限量標籤樣式 */
        .limited-label {
            background-color: yellow;
            color: black;
            padding: 4px 8px;
            font-size: 14px;
            font-weight: bold;
            border-radius: 4px;
        }

        /* 清倉標籤樣式 */
        .clearance-label {
            background-color: #990099;
            color: white;
            padding: 4px 8px;
            font-size: 14px;
            font-weight: bold;
            border-radius: 4px;
        }

        /* 暢銷標籤樣式 */
        .best-seller-label {
            background-color: #ff6600;
            color: white;
            padding: 4px 8px;
            font-size: 14px;
            font-weight: bold;
            border-radius: 4px;
        }

        /* 打折標籤樣式 */
        .discount-label {
            background-color: #ffcc00;
            color: black;
            padding: 4px 8px;
            font-size: 14px;
            font-weight: bold;
            border-radius: 4px;
        }

        /* 特色標籤樣式 */
        .featured-label {
            background-color: #0099cc;
            color: white;
            padding: 4px 8px;
            font-size: 14px;
            font-weight: bold;
            border-radius: 4px;
        }

        /* 獨家標籤樣式 */
        .exclusive-label {
            background-color: #cc0099;
            color: white;
            padding: 4px 8px;
            font-size: 14px;
            font-weight: bold;
            border-radius: 4px;
        }

        /* 時下流行標籤樣式 */
        .trending-label {
            background-color: #cc0000;
            color: white;
            padding: 4px 8px;
            font-size: 14px;
            font-weight: bold;
            border-radius: 4px;
        }
    </style>
    <style>
        .image-container {
            position: relative;
            overflow: hidden;
            display: inline-block;
            vertical-align: middle; /* 垂直对齐方式 */
            transition: transform 0.3s ease;
        }

        .thumbnail-container {
            width: 200px;
            height: 200px;
            border-radius: 5%;  
            overflow: hidden;
            position: relative;
            display: inline-block;
        }

        .thumbnail-image {
            width: 100%;
            height: 100%;
        }

        .image-container:hover {
            transform: scale(3);
            line-height: 100px; /* 调整行高以匹配放大后的高度 */
        }

        .tag-container {
            position: absolute;
            top: 10px;
            left: 10px;
        }

        .hot-label, .new-label, .discount-label {
            display: inline-block;
            padding: 4px 8px;
            background-color: var(--color3);
            color: white;
            font-size: 12px;
            border-radius: 4px;
            margin: 4px;
        }

        .hot-label {
            background-color: red; /* 調整背景顏色 */
        }

        .new-label {
            background-color: green; /* 調整背景顏色 */
        }

        .discount-label {
            background-color: blue; /* 調整背景顏色 */
        }

        .table-borderless th {
            width: 10ch;
        }

        .table-borderless td {
            width: 20ch;
        }
    </style>
</head>
<body>

    <div class="container page-basetop">
        <header>
            <div class="animation-div">
                <h2 class="header_text heading break-all slideInRight">
                    @Model.Myname 產品清單
                </h2>
            </div>

            <nav class="nav">
                <input id="keywordInput" class="nav-link" style="margin-right: 10px;" type="text" placeholder="輸入關鍵字">
                <button id="searchButton" class="nav-link fx-tobig" style="margin-right: 10px;" onclick="searchCards2()">搜索</button>
            </nav>
            <br>

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                @foreach (var item2 in Model.Pgroups)
                {
                    <li class="nav-item" role="presentation">
                        <input id="keywordInput" class="nav-link" style="margin-right: 10px;display:none;" type="text" value=@item2.Pgid.ToString()>
                        <button data-bs-toggle="tab" data-bs-target="#profile-tab-pane" role="tab" aria-controls="profile-tab-pane" aria-selected="false" id="searchButton" class="nav-link fx-tobig" style="margin-right: 10px;color: var(--color3);" onclick="searchCards('@item2.Pgid.ToString()');selectPgid('@item2.Pgid')">@item2.Pgname</button>
                    </li>
                }
                <li class="nav-item" role="presentation">
                    <a class="nav-link fx-tobig" style="margin-right: 10px;color: var(--color3);" asp-page="ProductAdd">
                        <i class="fas fa-tag"></i>
                        新增產品
                    </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link fx-tobig" style="margin-right: 10px;color: var(--color3);" asp-page="PgroupList_m">
                        <i class="fas fa-hashtag"></i>
                        類別管理
                    </a>
                </li>
            </ul>
            <br>
        </header>

        <div class="row" id="cardContainer">
            @foreach (var item in Model.Products)
            {
                <div class="col-md-12 mb-4 card-item product-item" data-search="@item.Pgid">
                    <div class="card product-list" data-cardname="@item.Pgid">
                        <div class="card-header d-flex justify-content-between" data-toggle="collapse" data-target="#collapse-@item.Pid">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="width: 50%; text-align: left;">
                                        <span style="color:var(--color3); font-size: 20px;">@item.Name</span>
                                    </td>
                                    <td style="width: 50%; text-align: right;">
                                        <span>
                                            <i class="fas fa-hashtag" style="color:var(--color3); font-size: 18px;"></i>
                                            @if (item.Pgname == "" || item.Pgname == null)
                                            {
                                                <span style="color:var(--color3); font-size: 18px;">未分類</span>
                                            }
                                            else
                                            {
                                                <span style="color:var(--color3); font-size: 18px;">@item.Pgname</span>
                                            }
                                        </span>
                                    </td>
                                </tr>
                            </table>


                        </div>
                        <div id="collapse-@item.Pid" class="collapse">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="thumbnail-container">
                                            @{
                                                string imageData = item.Photo != null ? Convert.ToBase64String(item.Photo) : null;
                                            }
                                            @if (string.IsNullOrEmpty(imageData))
                                            {
                                                <img src="dist/img/product.jpg" class="card-img-top" alt="圖片">
                                            }
                                            else
                                            {
                                                <img src="data:image/jpeg;base64,@imageData" alt="圖片" class="thumbnail-image" />
                                            }
                                            <div class="tag-container">
                                                @if (item.Event == 1)
                                                {
                                                    <div class="hot-label">
                                                        <i class="fab fa-hotjar"></i>
                                                        Hot熱門
                                                    </div>
                                                }
                                                else if (item.Event == 2)
                                                {
                                                    <div class="new-label">
                                                        <i class="fas fa-flag"></i>
                                                        New新上市
                                                    </div>
                                                }
                                                else if (item.Event == 3)
                                                {
                                                    <div class="discount-label">
                                                        <i class="fas fa-tags"></i>
                                                        優惠中
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">

                                            <div class="form-group alert alert-light alert-form-div" role="alert">
                                                <table>
                                                    <tr>
                                                        <th>
                                                            <i class="fas fa-dollar-sign icon-width"></i>價格:
                                                        </th>
                                                        <td>
                                                            <span id="formattedPrice_@item.Pid"></span> <!-- 使用 <span> 元素来显示价格 -->
                                                            &nbsp;&nbsp;/&nbsp;&nbsp;@item.Unit
                                                        </td>
                                                    </tr>
                                                    <script>
                                                        var originalPrice = @item.Price; // 将 Razor 变量传递给 JavaScript 变量
                                                        var formattedPrice = thousands(originalPrice);
                                                        var formattedPriceElement = document.getElementById("formattedPrice_@item.Pid"); // 使用唯一的 ID
                                                        formattedPriceElement.textContent = formattedPrice;
                                                    </script>
                                                    <tr>
                                                        <th>
                                                            <i class="fas fa-comment-dots icon-width"></i>描述:
                                                        </th>
                                                        <td>
                                                            <talbe style="white-space: pre-wrap;">@item.Content</talbe>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            開放預約:
                                                        </th>
                                                        <td>
                                                            <div class="custom-control custom-switch" style="margin-right: 10px;">
                                                                <form method="post" asp-page-handler="SetOrderSet">
                                                                    <input type="hidden" name="pid" value="@item.Pid" />
                                                                    <input type="hidden" name="orderSw" value="@item.OrderSw" />
                                                                    <input type="checkbox" class="custom-control-input" id="orderSwToggle_@item.Pid" data-pid="@item.Pid" data-ordersw="@item.OrderSw" @(item.OrderSw == 1 ? "checked" : "") onchange="submitForm(this)">
                                                                    <label class="custom-control-label" for="orderSwToggle_@item.Pid"></label>
                                                                </form>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-footer  d-flex justify-content-between" style="height: 60px;">
                                <div>
                                    <a class="btn btn-primary" asp-page="ProductEdit" asp-route-id="@item.Pid">
                                        <i class="fas fa-cog icon-width"></i>編輯
                                    </a>
                                </div>
                                <form id="deluser" method="post" onsubmit="return promptPassword()" class="ml-auto">
                                    <input type="hidden" name="productId" value="@item.Pid" />
                                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt icon-width"></i>刪除</button>
                                </form>
                            </div>
                            <div class="search-content" style="display:none;">
                                <span>@item.Name?.ToLower()</span>
                                <span>@item.Unit?.ToLower()</span>
                                <span>@item.Content?.ToLower()</span>
                                @if (item.Event == 1)
                                {
                                    <span>Hot熱門</span>
                                }
                                else if (item.Event == 2)
                                {
                                    <span>New新上市</span>
                                }
                                else if (item.Event == 3)
                                {
                                    <span>優惠中</span>
                                }
                                @if (item.Pgname == "" || item.Pgname == null)
                                {
                                    <span>未分類</span>
                                }
                                else
                                {
                                    <span>@item.Pgname</span>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <script>
        function submitForm(checkbox) {
            var form = checkbox.parentNode;
            var orderSwInput = form.querySelector('[name="orderSw"]');
            orderSwInput.value = checkbox.checked ? "1" : "0";
            form.submit();
        }
    </script>
    <script>
        function searchCards(pgid) {
            var keyword = pgid;
            var cardItems = document.querySelectorAll(".product-item");

            for (var i = 0; i < cardItems.length; i++) {
                var cardName = cardItems[i].getAttribute("data-search");
                var cardSearchContent = cardItems[i].querySelector(".search-content").innerText.toLowerCase();
                if (cardName.includes(keyword) || cardSearchContent.includes(keyword)) {
                    cardItems[i].style.display = "";
                } else {
                    cardItems[i].style.display = "none";
                }
            }
        }
    </script>
</body>
</html>






