@page
@model Web0524.Pages.UserEdit_mModel
@using Web0524.Models
@{
    var myService = (IMyService)ViewContext.HttpContext.RequestServices.GetService(typeof(IMyService));
    var myData = myService.GetBaseData();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/Share.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/compressorjs/1.0.7/compressor.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>美容工作室介紹</title>
    <style>
        .form-group label{
            color: var(--color3_2);
        }

        .infotext {
            font-size: 14px;
            color: var(--color3_2);
        }

        a {
            color: blue; /* 文本颜色为蓝色 */
            text-decoration: underline; /* 添加底线 */
        }
    </style>
    <script>
        function validateImageSize(input) {
            var maxSizeInBytes = 10 * 1024 * 1024; // 1MB，您可以根據需要調整此大小
            var file = input.files[0];

            if (file.size > maxSizeInBytes) {
                alert('選擇的圖片大小超過限制。請選擇小於 10MB 的圖片。');
                input.value = ''; // 清除已選擇的檔案
            } else {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {

                        var previewElement_div = document.getElementById('imagePreview2');
                        var previewElement = document.getElementById('imagePreview');
                        previewElement.setAttribute('src', e.target.result);
                        previewElement_div.style.display = 'block';

                        // 輸出圖片資訊
                        console.log('已選擇的圖片名稱：', file.name);
                        console.log('已選擇的圖片大小：', file.size, 'bytes');
                        console.log('已選擇的圖片類型：', file.type);
                    };

                    // 隱藏原本的圖片
                    var originalImageElement = document.getElementById('originalImage');
                    originalImageElement.style.display = 'none';

                    reader.readAsDataURL(input.files[0]);
                }
            }
        }
    </script>

    <script>
        function checkPasswordMatch() {
            var password = document.getElementById("newpassword").value;
            var confirmPassword = document.getElementById("confirmPassword").value;

            if (password !== confirmPassword) {
                document.getElementById("passwordError").innerHTML = "兩次輸入密碼不一致";
            } else {
                document.getElementById("passwordError").innerHTML = "";
            }
        }
        function validateForm() {
            var password = document.getElementById("newpassword").value;
            var confirmPassword = document.getElementById("confirmPassword").value;

            if (password !== confirmPassword) {
                document.getElementById("passwordError").innerHTML = "兩次輸入密碼不一致";
                return false; // 阻止表单提交
            } else {
                document.getElementById("passwordError").innerHTML = "";
                return true; // 允许表单提交
            }
        }
    </script>


    <div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header d-flex flex-column justify-content-center">
                    <div>
                        <h3>請跟著我做!</h3>
                    </div>
                </div>
                <div class="modal-body">
                    <span>
                        <h4>步驟1.</h4>
                        <h5>點擊→<a href="@myData.LineBotURL" target="_blank"><b><i class="fab fa-line" style="color: #0ed600;font-size:xx-large"></i>@myData.Name</b></a> 設為好友</h5>
                    </span>
                    <br>
                    <span>
                        <h4>步驟2.</h4>
                        <a id="copyButton" data-clipboard-target="#textToCopy" class="underline-blue"s>
                            @{
                                // 宣告一個字串
                                string message = "我要綁定" + ViewData["Uid"];
                            }
                            <h5>點我複製:<span id="textToCopy">@message</span></h5>
                        </a>
                    </span>
                    <br>
                    <span>
                        <h4>步驟3.</h4>
                        <h5>回到<a href="@myData.LineBotURL" target="_blank"><b><i class="fab fa-line" style="color: #0ed600;font-size:xx-large"></i>@myData.Name</b></a> 官方帳號 送出複製的綁定訊息</h5>
                    </span>
                    <br>
                    <h4>收到[綁定完成]訊息即完成綁定!</h4>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" href="@Url.Page("UserEdit_m", new { id = ViewData["Uid"] })">完成</a>
                </div>
            </div>
        </div>
    </div>
 </head>
 <body>
    <div class="container page-basetop">
        

        <header>
                <div class="animation-div">
                    <h2 class="header_text heading break-all slideInRight">
                        @Model.User_set.Name 個人資料管理
                    </h2>
                </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button style="margin-right: 10px;color: var(--color3);" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" role="tab" aria-controls="profile-tab-pane" aria-selected="false" id="t1" class="nav-link fx-tobig" data-tab="t1">會員備註</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button style="margin-right: 10px;color: var(--color3);" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" role="tab" aria-controls="profile-tab-pane" aria-selected="false" id="t2" class="nav-link fx-tobig" data-tab="t2">會員資料編輯</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button style="margin-right: 10px;color: var(--color3);" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" role="tab" aria-controls="profile-tab-pane" aria-selected="false" id="t3" class="nav-link fx-tobig" data-tab="t3">修改密碼</button>
                </li>
            </ul>
        </header>
        <br>
        @if (TempData.ContainsKey("Message"))
        {
            <div class="alert alert-success">@TempData["Message"]</div>
        }
        @if (TempData.ContainsKey("Error"))
        {
            <div class="alert alert-warning">@TempData["Error"]</div>
        }
            <div id="t1_c">
                <form method="post">
                <div class="form-group alert alert-light alert-form-div" role="alert">
                    <div class="form-group" style="display: none;">
                        <input asp-for="User_set.Id" class="form-control" />
                    </div>
                    <table style="width:100%;">
                        <tr>
                            <th>
                                <label>備註</label>
                            </th>
                            <td>
                                <textarea style="width:100%" id="remark" name="remark" asp-for="User_set.Remark" type="text" title="字數需小於500字" maxlength="500"></textarea>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <br>
                    <div style="text-align:end;"><button type="submit" asp-page-handler="Remark" class="btn btn-dark">儲存備註</button></div>
                </div>
                </form>
            </div>
        <div id="t2_c" style="display: none;">

            <form method="post" enctype="multipart/form-data">


                <div class="form-group" style="text-align: center" id="originalImage">
                    @{
                        string imageData = Model.User_set.Photo != null ? Convert.ToBase64String(Model.User_set.Photo) : null;
                    }
                    @if (string.IsNullOrEmpty(imageData))
                    {
                        <img src="~/dist/img/user3-128x128.jpg" alt="圖片" class="imagePreview_img" />
                    }
                    else
                    {
                        <img src="data:image/jpeg;base64,@imageData" alt="圖片" class="imagePreview_img" />
                    }
                    <h5 style="margin-top:10px; font-weight:bold;">@Model.User_set.Name</h5>
                </div>
                <div id="imagePreview2" class="imagePreview_div" style="display: none;">
                    <img id="imagePreview" class="imagePreview_img" />
                </div>
                <div class="form-group alert alert-light " role="alert">
                    <table style="width:100%;">
                        <tr>
                            <th>
                                <label>更換大頭貼</label>
                            </th>
                            <td style="width:70%;text-align:end;">
                                <label for="newImage" style="font-weight:bold; font-size:20px;">＞</label>
                                <input type="file" id="newImage" name="newImage" accept="image/*" style="display: none;" onchange="validateImageSize(this)" />
                            </td>
                        </tr>
                    </table>
                </div>


                <div class="form-group alert alert-light alert-form-div" role="alert">
                    <table>
                        <tr>
                            <th>
                                <label>帳戶權限</label>
                            </th>
                            <td>
                                <select asp-for="User_set.UserType" class="form-control">
                                    <option value="3">一般會員</option>
                                    <option value="2">管理員</option>
                                    <option value="1">最高權限</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label><span class="infotext" style="color:red">*</span>姓名</label>
                            </th>
                            <td>
                                <input asp-for="User_set.Name" class="form-control" title="字數需介於2到10之間" maxlength="10" minlength="1" required />
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label><span class="infotext" style="color:red">*</span>生日</label>
                            </th>
                            <td>
                                <input asp-for="User_set.Birthday" class="form-control" type="date" />
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>地址</label>
                            </th>
                            <td>
                                <input asp-for="User_set.Address" class="form-control" title="字數不可超過75字元" maxlength="150" />
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label><span class="infotext" style="color:red">*</span>聯絡電話</label>
                                @*                            <p class="infotext">請填寫方便聯繫的電話號碼，便於店家聯繫您預約相關事宜。</p>*@
                            </th>
                            <td>
                                <input asp-for="User_set.Phone" class="form-control" maxlength="20" minlength="6" required pattern="^\d{6,20}$" title="請輸入有效的電話號碼（只能包含數字，長度6到20之間）" />
                                <p class="infotext" style="color:red">*為確保您的權益，請務必提供正確的聯絡資訊，若商家無法聯繫到您，可能會導致預約無法成立或被取消。</p>
                            </td>
                        </tr>
                        <tr style="display: none;">
                            <th>
                                <label>E-Mail</label>
                            </th>
                            <td>
                                <input asp-for="User_set.Email" class="form-control" type="email" title="字數不可超過50字元" maxlength="100" />
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label>LineID</label>
                            </th>
                            <td>
                                <input asp-for="User_set.Line" class="form-control" title="字數不可超過50字元" maxlength="100" />
                            </td>
                        </tr>
@*                        <tr>
                            <th>
                                <b style="color:var(--color3_2);">Line綁定:</b>
                            </th>
                            <td>
                                @if (Model.User_set.LineUserId == null)
                                {
                                    <b class="text-danger">您尚未綁定您的Line帳號，無法透過Line訊息通知您[預約狀態]與[最新消息]。</b>
                                    <button id="btnBind" type="button" class="btn btn-success"><i class="fab fa-line"></i> 立即綁定</button>

                                }
                                else
                                {
                                    <b class="text-success">已綁定</b>
                                }
                            </td>
                        </tr>*@
                    </table>
                    <div class="form-group" style="display: none;">
                        <input asp-for="User_set.OrderNum" class="form-control" />
                    </div>
                    <div class="form-group" style="display: none;">
                        <input asp-for="User_set.CancelNum" class="form-control" />
                    </div>
                    <br>
                    <br>
                    <div style="text-align:end;"><button type="submit" asp-page-handler="Edit" class="btn btn-dark">儲存</button></div>
                </div>
            </form>

            </div>
        <div id="t3_c" style="display: none;">

            <form method="post" onsubmit="return validateForm()">
            <div class="form-group alert alert-light alert-form-div" role="alert">
                <table style="width:100%;">
                    <thead><h2 style="color:var(--color3_2);">重設密碼</h2></thead>
                    <tr>
                        <th>
                            <label>新密碼</label>
                        </th>
                        <td>
                            <input id="newpassword" name="newpassword" type="password" class="form-control" pattern="[A-Za-z0-9]+" title="只能輸入英文和數字，字數需介於6到20之間" maxlength="20" minlength="6" required />
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label>確認密碼</label>
                        </th>
                        <td>
                            <input id="confirmPassword" type="password" class="form-control" onkeyup="checkPasswordMatch() " pattern="[A-Za-z0-9]+" title="只能輸入英文和數字，字數需介於6到20之間" maxlength="20" minlength="6" required />
                            <div id="passwordError" style="color: red;"></div>
                        </td>
                    </tr>
                </table>
                <br>
                <br>
                <div style="text-align:end;"><button type="submit" asp-page-handler="Reset" class="btn btn-dark">重設密碼</button></div>
            </div>
            </form>

            </div>


    </div>


    <!-- Include jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include ClipboardJS library (for copying text to clipboard) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>

    <!-- Your inline JavaScript code -->
    <script>
        // Function to show the modal
        function showModal() {
            $('#contactModal').modal('show');
        }

        // Function to close the modal
        function closeModal() {
            $('#contactModal').modal('hide');
        }

        // When the "立即綁定" button is clicked, show the modal
        document.getElementById("btnBind").addEventListener("click", function () {
            showModal();
        });
        // 當按鈕完成被點擊時
        document.getElementById("btnDone").addEventListener("click", function () {
            closeModal();
        });

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // 初始化Clipboard.js
            var clipboard = new ClipboardJS("#copyButton");

            // 設置複製成功事件處理函式
            clipboard.on("success", function (e) {
                alert("文本複製成功：" + e.text);
                e.clearSelection();
            });

            // 設置複製失敗事件處理函式（可選）
            clipboard.on("error", function (e) {
                alert("文本複製失敗。請重試。");
            });
        });
    </script>
    @section Scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#t1").click(function () {
                    $("#t1_c").show();
                    $("#t2_c").hide();
                    $("#t3_c").hide();
                });

                $("#t2").click(function () {
                    $("#t1_c").hide();
                    $("#t2_c").show();
                    $("#t3_c").hide();
                });

                $("#t3").click(function () {
                    $("#t1_c").hide();
                    $("#t2_c").hide();
                    $("#t3_c").show();
                });
            });
        </script>
    }
 </body>
 </html>

